<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', path='/css/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/my_css.css') }}" rel="stylesheet">
</head>
<body>
  <div class="d-flex">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark w-25" style="width: 280px;">
        <h1>Home Page</h1>
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Sidebar</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Home
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Orders
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Products
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Customers
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>

      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white w-75" style="height: 700px;">
      <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">List group</span>
      </a>
      <div class="list-group list-group-flush border-bottom scrollarea">
        {% for product in products %}
            {% if product.count < 1 %}
              <a class="list-group-item list-group-item-action py-3 lh-tight" href="#" aria-current="true">
            {% else %}
                <a class="list-group-item list-group-item-action active py-3 lh-tight" href="#" aria-current="true">
            {% endif %}
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">{{product.title}} [{{product.nomeklatura_id}}]</strong>
                <small>{{product.count}} {{product.type_measure}}</small>
              </div>
              <div class="col-10 mb-1 small">{{product.price}}</div>
            </a>

        {% else %}
            <div>
              <div class="alert alert-warning" role="alert">
                Продукты не найдены в базе!
              </div>
          </div>
        {% endfor %}
                <form method="POST" action="{{ url_for('citys') }}" enctype="multipart/form-data">
                  <select name="city">
                      <option value="Алматы">Алматы</option>
                      <option value="Астана">Астана</option>
                  </select>
                    <button type="submit">проверить</button>
                </form>
      </div>
    </div>
  </div>

    <script src="{{ url_for('static', path='/js/bootstrap/bootstrap.js') }}"></script>
</body>
</html>