{% extends "components/main.html" %}
{% block main %}

<div class="container my-5 w-50">
<main class="form-signin w-100 m-auto">
  <form action="{% url "login" %}" method="post">
      {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Войдите в аккаунт</h1>

    <div class="form-floating">
      <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" minlength="1" required>
      <label for="floatingInput">Электронная почта</label>
    </div>
    <div class="form-floating">
      <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" minlength="1" required>
      <label for="floatingPassword">Пароль</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Войти</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2024</p>
  </form>
</main>
</div>

{% endblock main %}
