{% extends "components/base.html" %}
{% load static %}
{% load django_app_filters_and_tags %}
{% block main %}

<div class="container">
    <form action="{% url "posts" %}" method="post">
        {% csrf_token %}

        <div class="input-group text-center w-50">
            <input name="search" type="text" min="0" max="100" required value="{{ search }}" class="form-control" placeholder="введите часть названия сюда"/>
            <button type="submit" class="btn btn-secondary">искать</button>
            <a type="reset" href="/list" class="btn btn-outline-secondary">сбросить</a>
        </div>
    </form>
</div>






<div class="container marketing my-3">
<hr class="featurette-divider">
<div class="row">
    {% for image in images1 %}
        <div class="col-lg-4">
            <img src="{% static image.image %}" alt="image" class="img-fluid" width="200"/> .url
            <h2 class="fw-normal">{{ image.title }}</h2>
            <p>{{ image.description.data1.price }}</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div>
    {% endfor %}
</div>

<div>
    <div class="table-responsive small bg-light">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Заголовок</th>
              <th scope="col">Цена</th>
              <th scope="col">Дата и время</th>
            </tr>
          </thead>
          <tbody>
            {% for image in images %}
                <tr>
                  <td>#{{ forloop.counter }}</td>
                  <td>{{ image.title }}</td>
                  <td>{{ image.title|lower }}</td>
                  <td>{{ image.title|my_slice:10 }}</td>
                  <td>{% digit_beautify image.description.data1.price %}</td>
                  <td>{% digit_beautify image.description.data1.price|rounding:3 %}</td>
                  <td>{{ image.datetime|format_datetime:"date3" }}</td>
                </tr>
            {% empty %}
                <tr class="text-center text-danger fw-bold">
                  <td colspan="3">Данных нет!</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>

<hr class="featurette-divider">
</div>








  </div>
</div>

{% endblock main %}
