<footer class="footer mt-auto p-0 m-0 py-3 bg-body-tertiary">
    <ul class="nav justify-content-center border-bottom">
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">НАВЕРХ!</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'salary' %}" class="nav-link px-2 text-body-secondary">Рекламодателям</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'pricing' %}" class="nav-link px-2 text-body-secondary">Цены</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'help' %}" class="nav-link px-2 text-body-secondary">Инструкции</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link px-2 text-body-secondary">О нас</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'complaint' %}" class="btn btn-danger">Подать жалобу!</a>
        </li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Все права защищены!</p>
</footer>
