<nav class="container card container-fluid navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <a class="navbar-brand" href="{% url "home" %}">Домашняя страница</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav navbar-collapse collapse" id="navbarSupportedContent">
        <li class="dropend">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                Профиль
                <i class="btn btn-sm btn-dark bg-opacity-50 badge rounded-pill">аккаунт:
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        аноним
                    {% endif %}
                </i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <strong class="dropdown-header">Профили пользователей</strong>
                    {% if user.is_authenticated %}
                        <a class="dropdown-item text-danger" href="{% url "logout" %}">
                            <i class="fa-solid fa-list m-0 p-1"></i>
                            выйти из аккаунта
                        </a>
                    {% else %}
                        <a class="dropdown-item text-warning" href="{% url "register" %}">
                            <i class="fa-solid fa-circle-plus m-0 p-1"></i>
                            регистрация новых пользователей
                            <i class="btn btn-sm btn-dark bg-opacity-50 badge rounded-pill">пользователей: {{ user_count }}</i>
                        </a>
                        <a class="dropdown-item text-primary" href="{% url "login" %}">
                            <i class="fa-solid fa-list m-0 p-1"></i>
                            войти в аккаунт
                        </a>
                    {% endif %}
                </li>
            </ul>
        </li>
        <li class="dropend">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                Книжный магазин
                <i class="btn btn-sm btn-dark bg-opacity-50 badge rounded-pill">количество книг: {{ book_count }}</i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <strong class="dropdown-header">Публикация книг</strong>
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="#">
                            <i class="fa-solid fa-circle-plus m-0 p-1"></i>
                            создать новую публикацию книги
                        </a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url "list" %}">
                        <i class="fa-solid fa-list m-0 p-1"></i>
                        список публикаций книг
                        <i class="btn btn-sm btn-dark bg-opacity-50 badge rounded-pill">{{ post_count }}</i>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropend">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                Новостной раздел
                <i class="btn btn-sm btn-dark bg-opacity-50 badge rounded-pill">количество свежих (30 минут) новостей: {{ fresh_count }}</i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <strong class="dropdown-header">Новости</strong>
                    <a class="dropdown-item" href="{% url "news_list" %}">
                        <i class="fa-solid fa-list m-0 p-1"></i>
                        список всех новостей
                        <i class="btn btn-sm btn-dark bg-opacity-50 badge rounded-pill">{{ all_news_count }}</i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
