{% extends "components/main.html" %}
{% block main %}

<div class="container">
    <div class="row">
      <div class="col">
        <h4 class="mb-3">Измените данные и отправьте форму</h4>
        <form action="{{ url_for("view_change")}}" method="post" class="needs-validation" novalidate="">

          <div class="row g-3">
              <input type="hidden" name="pk" value="{{ post.id }}"/>

            <div class="col-sm-6">
              <label for="title" class="form-label">Введите название поста</label>
              <input name="title" type="text" class="form-control" id="title" placeholder="название" value="{{ post.title }}" required="">
            </div>

            <div class="col-12">
              <label for="description" class="form-label">Описание поста</label>
              <div class="input-group has-validation">
                <span class="input-group-text">#</span>
                  <textarea name="description" class="form-control" id="description" placeholder="описание" required="" rows="5">{{ post.description }}</textarea>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-warning btn-lg" type="submit">Обновить</button>
        </form>
      </div>
    </div>
</div>

{% endblock main %}