{% extends "components/base.html" %}

{% block main %}
<div class="container my-5">
  <div
    class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5"
  >
    <button
      type="button"
      class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill"
      aria-label="Close"
    ></button>
    <svg class="bi mt-5 mb-3" width="48" height="48">
      <use xlink:href="#check2-circle"></use>
    </svg>
    <h1 class="text-body-emphasis">Сайт для публикации постов</h1>
    <p class="col-lg-6 mx-auto mb-4">
      На нашей веб-платформе Вы можете опубликовать пост, комментировать и ставить лайки чужим
    </p>
    <a class="btn btn-primary px-5 mb-5" type="button" href="#">Список постов</a>
    <a class="btn btn-warning px-5 mb-5" type="button" href="#">Искать пост</a>
  </div>
</div>

{% endblock main %}
