{% extends "components/base.html" %}
{% load static %}
{% load django_app_filters_and_tags %}
{% block main %}

<div class="container m-3 p-3 bg-warning">
    <form action="{% url "list" %}" method="post">
        {% csrf_token %}

        <div class="input-group text-center w-50">
            <input name="search" type="text" min="0" max="100" required value="{{ search }}" class="form-control" placeholder="введите часть названия сюда"/>
            <button type="submit" class="btn btn-secondary">искать</button>
            <a type="reset" href="/list" class="btn btn-outline-secondary">сбросить</a>
        </div>
    </form>
</div>


<div class="container bg-light card">
<div class="position-sticky" style="top: 2rem;">
        <div>
          <h4 class="fst-italic lead p-2">Лучшие книги:</h4>
          <ul class="list-unstyled">

            {% include "components/paginator.html" %}

            {% for book in current_page %}
            <li>
              <div class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                <div class="fw-bold">{{ book.id }}</div>
                <img src="{% static book.image.url %}" alt="image" class="img-fluid bd-placeholder-img" width="200"/>
                <div class="col-lg-8">
                <div class="d-flex">
                    {% for category in book.categories %}
                        <small class="m-1 btn btn-outline-dark">{{ category.name }}</small>
                    {% empty %}
                        <small class="m-1 btn btn-outline-dark">Без категории</small>
                    {% endfor %}
                </div>
                  <h6 class="mb-0">{{ book.title }}</h6>
                  <p class="mb-0 lead">{{ book.author }}</p>
                  <small class="text-body-secondary">{{ book.description|slice:"50" }}...</small>
                </div>
              </div>
            </li>
            {% empty %}
            <li>
                По запросу ничего не найдено!
            </li>
            {% endfor %}

            {% include "components/paginator.html" %}

          </ul>
        </div>
    </div>
</div>

{% endblock main %}
