aiohttp==3.8.5
aiosignal==1.3.1
altgraph==0.17.4
async-timeout==4.0.3
attrs==23.1.0
auto-py-to-exe==2.40.0
beautifulsoup4==4.12.2
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
Eel==0.16.0
frozenlist==1.4.0
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.0
idna==3.4
multidict==6.0.4
packaging==23.2
pefile==2023.2.7
pycparser==2.21
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
pyparsing==3.1.1
PyQt6==6.5.2
PyQt6-Qt6==6.5.2
PyQt6-sip==13.5.2
pywin32-ctypes==0.2.2
qt6-applications==6.5.0.2.3
qt6-tools==6.5.0.1.3
requests==2.31.0
soupsieve==2.5
urllib3==2.0.6
whichcraft==0.6.1
yarl==1.9.2
zope.event==5.0
zope.interface==6.1
