{% extends "components/base.html" %}
{% load static %}
{% block main %}

<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary my-3 w-100 p-1 m-1">
    <a href="{% url "news_list" %}" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
        <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">Новости:</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
        <div href="#" class="list-group-item py-3 lh-sm shadow" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <div class="btn btn-sm btn-outline-dark">{{ new.author.username }}</div>
                <strong class="mb-1">{{ new.title }}</strong>
                <small>{{ new.date_time }}</small>
                <img src="{% static new.image.url %}" alt="image" class="img-fluid bd-placeholder-img" width="200"/>
            </div>
            <div class="col-10 mb-1 small">{{ new.description|slice:"30" }}...</div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="d-flex gap-2 justify-content-center py-1">
            <div class="input-group">
            <button class="btn border border-dark border-1 d-inline-flex align-items-center" type="button">
                {% if rating.rating == 0 %}
                    <p class="text-dark">
                    0 ({{ count_r }} оценки)
                    </p>
                {% elif rating.rating > 0 %}
                    <p class="text-success">
                    {{ rating.rating }} ({{ rating.count_r }} оценки)
                    </p>
                {% else %}
                    <p class="text-danger">
                    {{ rating.rating }} ({{ rating.count_r }} оценки)
                    </p>
                {% endif %}
            </button>
            <a href="{% url "rating_change" new.id 1 %}" class="btn btn-outline-success d-inline-flex align-items-center m-1 p-1">
                <i class="fa-solid fa-thumbs-up"></i>
            </a>
            <a href="{% url "rating_change" new.id -1 %}" class="btn btn-outline-danger d-inline-flex align-items-center m-1 p-1">
                <i class="fa-solid fa-thumbs-down"></i>
            </a>
            </div>
        </div>
    {% endif %}
</div>


<div class="container px-4 py-5 bg-light card" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Комментарии:</h2>
{% if user.is_authenticated %}
    <form action="{% url "news_comments_create" new.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal text-center">Ваш комментарий:</h1>
        <div class="input-group">
            <input name="text" type="text" class="form-control" id="floatingInput" placeholder="я думаю..." minlength="5" maxlength="200" required>
            <button class="btn btn-warning w-25 py-2" type="submit">Создать</button>
        </div>
    </form>
{% endif %}
    <hr/>

    {% include "components/paginator.html" %}
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% for comment in current_page %}
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">{{ comment.author.username }}</h3>
                <p>{{ comment.text }}</p>
                <hr class="m-0 p-1"/>
                <p class="text-secondary small">{{ comment.date_time }}</p>
                <a href="#" class="btn btn-outline-danger">
                    Пожаловаться!
                </a>
            </div>
        </div>
        {% empty %}
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fs-2 text-body-emphasis">Комментариев нет!</h3>
                <p>Вы можете быть первыми!</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "components/paginator.html" %}
</div>

{% endblock main %}
