{% extends "components/base.html" %}
{% load static %}

{% block title %}Публикация поста{% endblock title %}

{% block main %}

<div class="container my-5 w-75 bg-light card p-3">
<main class="form-signin w-100 m-auto">
    {% if error %}
        {% include "components/fail.html" %}
    {% endif %}

  <form action="{% url "post_create" %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal text-center">Заполните все поля и отправьте пост: </h1>

    <hr class="m-1 p-1"/>

    <div class="form-floating m-1 p-1">
      <input name="title" type="text" class="form-control" id="title" placeholder="имя поста..." minlength="5" maxlength="200" required>
       <label for="title">Наименование поста</label>
    </div>

    <hr class="m-1 p-1"/>

      <div>
        <label for="description" class="w-25">Описание поста:</label>
        <textarea id="description" name="description" class="form-control form-control-lg m-1 p-1" rows="5" minlength="5" required placeholder="описание поста..."></textarea>
      </div>

    <hr class="m-1 p-1"/>

    <div class="form-control m-1 p-1">
      <label for="image p-2">Изображение к посту</label>
      <input name="image" type="file" accept="image/jpeg" class="form-control" id="title" placeholder="имя поста..." minlength="5" maxlength="200" required>
    </div>

    <hr class="m-1 p-1"/>

    <button class="btn btn-outline-primary w-25" type="submit">СОЗДАТЬ</button>
  </form>
</main>
</div>
{% endblock main %}
