{% extends "components/base.html" %}
{% load static %}

{% block title %}Сортировка посылок{% endblock title %}

{% block main %}



<div class="container my-5 w-75 bg-light card p-3">


<h1>Сортировка посылок</h1>
<div class="my-5 w-100 bg-light card p-3">
    {% if error %}
        {% include "components/fail.html" %}
    {% endif %}
    <form class="p-1 m-2" action="{% url "track_middle" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <select name="status" class="form-control form-control-lg" required>
            <option value="">Указать статус</option>
            <option value="0">На проверке</option>
            <option value="3">Ожидает получения</option>
        </select>

        <div class="input-group">
            <input name="track" autofocus class="form-control form-control-lg p-1 m-1" type="text"
                    placeholder="просканируйте штрих-код" required/>
            <button class="btn btn-success w-25" type="submit">подтвердить</button>
        </div>
    </form>
</div>


</div>
{% endblock main %}
