{% extends "components/base.html" %}
{% load static %}

{% block title %}Мои посылки{% endblock title %}

{% block main %}

<div class="container container-fluid">
    <h1>Мои посылки</h1>

    {% include "components/paginator.html" %}
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

    {% for item in current_page %}
      <div class="col text-center">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">

            {% if item.get_choice == "Доставлено" or item.get_choice == "Ожидает получения" %}
            <h1 class="my-0 fw-normal btn btn-success">{{ item.get_choice }}</h1>
            {% else %}
                {% if item.get_choice == "На проверке" %}
                <h1 class="my-0 fw-normal btn btn-secondary">На проверке</h1>
                {% else %}
                <h1 class="my-0 fw-normal btn btn-outline-primary">{{ item.get_choice }}</h1>
                {% endif %}
            {% endif %}

            <h4 class="my-0 fw-normal">{{ item.address }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ item.price }}<small class="text-body-secondary fw-light"> тг.</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Вес(масса, кг): {{ item.weight }}</li>
              <li>Ширина(см): {{ item.width }}</li>
              <li>Высота(см): {{ item.height }}</li>
              <li>Глубина(см): {{ item.depth }}</li>
            </ul>
            <a href="{% url 'track_remove' item.track %}" type="button" class="w-100 btn btn-lg btn-outline-danger">Не отслеживать</a>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
    {% include "components/paginator.html" %}


</div>



{% endblock main %}
