{% extends "components/base.html" %}
{% load static %}
{% block main %}

<div class="container my-5 w-50 bg-light card p-3">
<main class="form-signin w-100 m-auto">
  <form action="{% url "user_password_recover_send" %}" method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal text-center">Восстановление доступа к аккаунту</h1>
    <div class="input-group m-1 p-1">
        <div class="form-floating">
          <input name="email" type="email" value="{{ email }}" class="form-control m-1 p-1" id="floatingInput" placeholder="name@example.com" minlength="5" maxlength="200" required>
          <label for="floatingInput">Электронная почта</label>
        </div>
        <button class="btn btn-success w-25" type="submit">Отправить код восстановления</button>
    </div>
    {% if error %}
        {% include "components/fail.html" %}
    {% endif %}
    {% if success %}
        {% include "components/success.html" %}
    {% endif %}
  </form>
</main>
</div>
{% endblock main %}
