{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{% static "css/my_css.css" %}" rel="stylesheet" integrity="anonimous">
</head>
<body>



<p class="custom-color">register page</p>
<button onclick="newAlarm()">newAlarm</button>


<script type="text/javascript" src="{% static "js/my_js.js" %}"></script>
</body>
</html>