{% extends "components/base.html" %}

{% block main %}
<main class="form-signin">
  <form class="border border-1 border-light" method="POST" action="{{ url_for('books_create') }}" enctype="multipart/form-data">
    <h1 class="h3 mb-3 fw-normal">Создайте новую книгу</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="введите сюда заголовок" name="title">
      <label for="floatingInput">Заголовок</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="True" name="completed"> Выполнено
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">отправить</button>
  </form>
</main>
{% endblock main %}